body{
  margin: 0;
  padding: 0;
}


#contact{
  width: auto;
  height: 500px;
  background-color: green;
}

#Intro{
  background-image: url('./media/central_park.jpg');
  background-attachment: fixed;
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.pogo{
  align-self: center;
}

.pogo >img{
  height: 200px;
  width: 200px;
}

.pogo >img:hover{
  transform: scale(1.5);
}

#About{
  display: flex;
  height: 400px;
}


#About >div{
  flex: 1 1;
  font-size: 1.4em;
  text-align: center;
  padding: .8em;
}

iframe{
  height: 100%;
  width: 100%;
}

#Events{
  height: 480px;
  border: 1px solid black;
  width: auto;
  display: flex;
  justify-content: center;
}

nav, #Footer{
  display: flex;
  justify-content: center;
  background: black;
}

a{
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding-left: 8%;
}

#ImagesContainer{
  align-self: center;
  text-align: center;
  padding: 0% 2% 0% 2%;
  box-shadow: 10px 10px 72px 0px rgba(0,0,0,0.75);
}

#ImagesContainer > img{
  width: 380px;
  height: 380px;
}

.left{
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-45deg);
  align-self: center;
  width: 50px;
  height: 50px;
}

.right{
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  align-self: center;
}
